.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

h1 {
    font-size: 32px;
}
.title {
    color: grey;
    font-size: 16px;
}

p {
    font-size: 16px;
    margin: 2%;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
.facebook , .instagram{
    width: 32px;
    height: 32px;
    margin: 8px;
}
table {
    margin-left: auto;
    margin-right: auto;
}